#researchConfigContent {
    display:block
}

#keywordContent, #referencesContent, #newResearchTab, #vizContent, #authorContent, #publicationYearContent, #taxonomyContent, #newResearchContent, #pdfLoadingIcon {
    display:none
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.clickable {
    cursor: pointer
}

.no-pointer {
    cursor: none;
}

.width-100 {
    width:51%;
}

.session-title {
    font-weight: 600;
    font-size: 170%;
    font-family: "Adobe Garamond Pro Bold";
}

