#referencesContent {
    display:block
}

#keywordContent {
    display:none
}

#rawJsonContent {
    display:none
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.clickable {
    cursor: pointer
}

.no-pointer {
    cursor: none;
}

.width-100 {
    width:51%;
}